/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,600i,700');
body  {
    font-family: 'Crimson Text', serif;
    font-size: 15px; 
    letter-spacing: -0.4px;
    line-height:1.15em;
    text-indent:0px !important;
    font-weight:400;
    padding-bottom:1px;
    column-fill:balance;
}

h1, h2, h3, h4, h5, h6 { 
    letter-spacing: 0.6px;
    font-family: 'Bebas Neue';
}

h1{
    color: #1ABEEF;
    font-weight:400;
    font-variant: uppercase;
    font-size:42pt;
    margin-bottom:30px;
}

h3 {
    color: #1ABEEF;
    font-variant: small-caps;
    font-size: 18pt;
    font-weight:1;
    border:none;
}

h4 {
    color: #ed9629;
    font-variant: small-caps;
    font-size: 16pt;
    text-align:center;
}

h5 {
    color: #326DA1;
    font-weight: 1;
    font-variant: small-caps;
    font-size: 16pt;
}

h6 {
    color: #ea702b;
    font-variant: small-caps;
    font-size: 16pt;
    display: table;
    border-bottom: 1px solid #ea702b;
